@import "tailwindcss";

@theme {
  --color-gold: #F0B429;
  --color-cream: #F5F2EB;
  --color-darkText: #111111;
  --font-display: "Fraunces", serif;
  --font-body: "DM Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-cream font-body text-darkText;
  }
}
